.datarow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.iconStyle {
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 650px) {
  .iconStyle {
    width: 20px;
    height: 20px;
  }
}
